html, body, #__nuxt, #__layout {
  height: 100dvh !important;
  font-family: 'Product Sans Regular', sans-serif !important;
}

.font-genos {
  font-family: 'Genos', sans-serif !important;
}
.font-product-sans {
  font-family: 'Product Sans', sans-serif !important;
}
/* TRANSITIONS */

/* we will explain what these classes do next! */
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
